@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Proyecto Devops Bertoni Solutions <a href="https://appjcrvial.azurewebsites.net/"></a>.</p>
</div>
